*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
}

a {
    color: white !important;
  }
  

table {
    border-collapse: collapse;
    border-spacing: 0;
}
